                /* Start Footer */
.footer {
    background-color: #e2e2e2;
    overflow: hidden;
    padding-top: 30px;
    margin-top: 50px;
    .footer-gallery, .info, .contact {
        float: $float-left;
    }
    .footer-gallery {
        @media #{$minSmall} {
            width: 100%;
        }
        @media #{$minMedium} {
            width: 50%;
        }
        .img-box {
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 110px;
                height: 110px;
                max-width: 100%;
                float: $float-left;
                border: 1px solid #777;
                padding: 2px;
            }
            .text {
                float: $float-left;
                margin-right: 15px;
                margin-left: 15px;
                width: calc(100% - 140px);
                h4 {
                    color: $redColor;
                    margin: 12px 0 0;
                }
                p {
                    color: #888;
                    line-height: 1.9;
                    margin-top: 8px;
                }
            }
        }
    }
    .info {
        @media #{$maxSmall} {
            text-align: center;
            float: none;
            margin-bottom: 25px;
        }
        @media #{$minSmall} {
            width: 50%;
        }
        @media #{$minMedium} {
            width: 25%;
        }
        ul {
            color: #888;
            line-height: 1.8;
            li {
                span {
                    color: $redColor;
                    cursor: pointer;
                }
            }
        }
        h4 {
            color: #888;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            color: #888;
        }
    }
    .contact {
        @media #{$maxSmall} {
            text-align: center;
            float: none;
        }
        @media #{$minSmall} {
            width: 50%;
        }
        @media #{$minMedium} {
            width: 25%;
        }
        input[type="text"],
        input[type="email"],
        textarea {
            border: 1px solid #c9c9c9;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 10px;
            width: 100%;
            outline: none;
            text-indent: 5px;
        }
        textarea {
            height: 140px;
            resize: none;
        }
    }
    .section-title {
        color: #444;
        font-weight: normal;
        margin-bottom: 25px;
    }
    .copyright {
        padding: 25px 0;
        margin-top: 20px;
        border-top: 1px solid #c5c5c5;
        overflow: hidden;
        color: #888;
        .text, .author  {
            float: $float-left;
            width: 50%;
            @media #{$maxSmall} {
                float: none;
                width: 100%;
                text-align: center;
            }
        }
        .author {
            text-align: $text-right;
            @media #{$maxSmall} {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}
                /* End Footer */