* {
    @include prefixer(box-sizing, border-box, webkit moz o ms);
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    @media #{$minSmall} {
        width: 750px;
    }
    @media #{$minMedium} {
        width: 970px;
    }
    @media #{$minLarge} {
        width: 1170px;
    }
}

.clearfix {
    clear: both;
}

.text-center-xs {
    @media #{$maxMedium} {
        text-align: center;
    }
}