.header {
    padding: 20px 0;
    border-bottom: 1px solid $grayColor;
    overflow: hidden;
    .logo {
        width: 30%;
        float: $float-left;
        h1 {
            margin-bottom: 0;
            margin-top: 10px;
        }
        p {
            padding-top: 20px;
        }
    }

    .navbar {
        width: 70%;
        float: $float-left;
        background-color: $redColor;
        border-radius: 15px;
        li {
            width: 20%;
            float: $float-left;
            font-size: 18px;
            text-align: center;
            a {
                display: block;
                color: #fff;
                padding: 20px 10px;
                &:hover {
                    color: #ddd;
                    cursor: pointer;
                }
            }
            
        }
    }

}